<header>
    <section class="header-flex">
        <img class="redbery" src="/assets/images/LOGO.png">
        <app-button (click)="login()">შესვლა</app-button>
    </section>
</header>

<dialog id="loginDialog">
    <button (click)="closeModal()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.75732 16.2426L16.2426 7.75736" stroke="#1A1A1F" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M16.2426 16.2426L7.75732 7.75736" stroke="#1A1A1F" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </button>

    <h2>შესვლა</h2>
    <form [formGroup]="authForm">
        <div class="input-wrapper">
            <input type="email" formControlName="email">
        </div>
        <app-button (click)="signUp()">რეგისტრაცია</app-button>
    </form>
</dialog>