main {
  background: #f3f2fa;
}
.main-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 80px;
  padding-top: 60px;
  margin-bottom: 72px;
}

.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    // flex-wrap: wrap;
    


}
